* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

 :root {
  --primary-color: #dadada ;
  --secondary-color:#b060b4 ;
  --tertiary-color:#d6bfe0 ;
  --border-color:black;
} 




 body {
  background: url('./assets/images/portfolio-backgroungImage.jpeg')no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0px;
}

/* Header */

header {
 
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

header h1 {
  font-weight: bold;
  font-size: 3vw;
  color: var(--border-color);
  text-shadow: 0 5px 20px rgba(0, 0 , 0, 0.8);
  width: 30%;
  margin: 15px 10px 15px 25px;
  text-align: right;
  padding: 15px 35px 20px 10px;
  border-radius: 10px 15px;
}

/* Nav.Item :hover {
  text-decoration: none;
} */

.nav-link  {
  cursor: pointer;
  font-weight: bold;
  color:azure;
  font-size:94%;
  text-decoration: none;
}


.nav-item {
  font-size: 20px;
 
}
.navbar :hover {
  background-color: var(--primary-color);
  border-radius: 55px;
  color: var(--secondary-color);

}

.AboutMeRow {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding-top: 5%;
  padding-bottom: 10%;
}

.AboutMeTitle {
  padding-left: 30%;
  font-size: 30px;
  font-weight: bold;
}
.AboutMeContent {
  font-size: 20px;
  color:burlywood;
}
/* .flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /* text-decoration: none; 
} */
h2 {
  font-size: 3rem;
  text-shadow: 2px 2px rgb(219, 168, 150);
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

.line{
  color: #b4b4b4;
  border-width: 3px;
}

/* #portfolio{
  background: linear-gradient(45deg, #DAE2F8 30%, #D6A4A4 90%) no-repeat;
} */

.heading{
  /* background: -webkit-linear-gradient(#3a444e, #d84e4e); */
  background: -webkit-linear-gradient(#575a60, #711a8c);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



 .contactForm {
  padding-left: 40%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 5%;

} 

.contactForm button {
  background-color: #0e0512;
  color:orange;
  padding:10px;
  font-weight: bold;
}


form {
  width: 150%;
}

.form-label {
  font-size: 150%;
  
}

.resumeContainer {
  padding-left: 50px;
}
.resume {
 font-size: 15px;
}
.resumeHead{
  font-size: 25px;
}

.resumeLink {
  font-size: 22px;
  color:darkmagenta;
}
.footerLink {
  position: relative;
  bottom: 0;
  width: 100%; 
  text-align: center;
  font-size: 20px;
  /* background: linear-gradient(0deg, #010f3e 2%, #0e0512 90%) no-repeat;
  color: #9dc6d8; */
}
.footer {
  bottom: 0;
  padding:20px;
  background: linear-gradient(0deg, #010f3e 2%, #0e0512 90%) no-repeat;
  color: #9dc6d8;
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 10px;
    justify-content: center;
  }
  input{
    width:400px;
  }
  
  textarea{
    width: 400px;
  }
}


@media screen and (max-width: 768px) {
  header {
    justify-content: center;
  }

  .nav-item {
    font-weight: 500;
  }


input{
  width:400px;
}

textarea{
  width: 400px;
}
}

@media screen and (max-width: 575px) {
  header {
    justify-content: center;
  }

  .nav-item {
    font-weight: 400;
    font-size: 1rem;
  }
input{
  width:300px;
}

textarea{
  width: 300px;
}
}

